body {
  padding-bottom: 30px;
}

div.page {
  padding-top: 20px;
  font-size: 45pt;
  font-weight: 100;
  text-align: center;
  clear: both;
}

img.me {
  border-radius: 10px;
  float: left;
}

.colored {
  color: rgba(97, 170, 226, 0.9);
  a, a:hover, a:visited, a:focus {
    color: rgb(82, 182, 223);
  }
  a:hover {
    text-decoration: underline;
  }
}

.huge {
  font-size: 62pt;
  font-weight: 100;
  margin-top: 0;
  float: left;
  /*padding-left: 12px;*/
}

.spaced {
  padding-top: 30px;
}

@media only screen and (min-width: 650px) {
  .huge {
    font-size: 70pt;
    padding-top: 90px;
    padding-left: 20px;
    padding-right: 100px;
  }
}
